*/30 * * * * root /usr/local/bin/php /var/www/site/artisan client:update >> /var/log/cron.log 2>&1
#* * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
#* * * * * www-data env >> /var/log/cron.log 2>&1